@model IdentitySample.ViewModel.Account.ExternalLoginCallBackViewModel

@{
    ViewData["Title"] = "ثبت نام کاربر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form class="login-form" asp-controller="Account" asp-action="ExternalLoginCallBack"
          asp-route-returnUrl="@ViewData["returnUrl"]" method="post">
        <h3 class="login-head">لطفا نام کاربری مورد نظر خود را وارد کنید</h3>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label class="control-label" asp-for="UserName"></label>
            <input class="form-control" asp-for="UserName" autofocus>
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>

        <hr />
        <div class="form-group">
            <label class="text-info">اگر میخواهید اکانت شما رمزعبور داشته باشد، فیلد زیر را پر کنید در غیر این صورت خالی بگذارید</label>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="Password"></label>
            <input class="form-control" asp-for="Password">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>

        <div class="form-group">
            <label class="control-label" asp-for="ConfirmPassword"></label>
            <input class="form-control" asp-for="ConfirmPassword">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>

        <div class="form-group btn-container">
            <button class="btn btn-primary btn-block" type="submit">
                <i class="fa fa-sign-in fa-lg fa-fw"></i>ثبت
            </button>
        </div>

        <div class="form-group mt-3 mb-0">
            <p class="semibold-text mb-0"><a asp-controller="Home" asp-action="Index"><i class="fa fa-angle-left fa-fw"></i> برگشت به صفحه اصلی</a></p>
        </div>
    </form>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}