@model IdentitySample.ViewModel.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>ResetPassword</h1>
    <hr />
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <div class="col-md-10">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="NewPassword" class="col-md-2 control-label"></label>
            <div class="form-group">
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <label asp-for="ConfirmNewPassword" class="col-md-2 control-label"></label>
            <div class="form-group">
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <input hidden="" asp-for="Token" />
            <input hidden="" asp-for="Email" />

            <button type="submit" class="btn btn-primary">ارسال</button>
        </div>
    </form>
</div>

@section Scripts
    {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}